<body>
<header class="headerBarra">
    <div class="barra">
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="icon-menu"></label>
        <input type="text" name="search" placeholder="Buscar.." class="busqueda">
    </div>
</header>

<div class="contenedor-todo">
    <div class="contenedor-ordenar">
        <div class="contenido-ordenar">
            <h4>Ordenar Por:</h4>
            <ul>
                <li>Nombre</li>
                <li>Tamaño</li>
                <li>Fecha de Adicion</li>
                <li>Popularidad</li>
                <li>Clasificación</li>
                <li>Numero de Opiniones</li>
            </ul>
        </div>

    </div>


    <div class="contenedor-filtros">
        <div class="contenido-filtros">
            <h4>Filtro</h4>
            <h5>Tipo de planta</h5>
            <form action="/home" method="get">
            <ul class="lista_colores">

                <li><button type="submit" name="boton" value="botonRed" class="botonRed" id="button0" onclick="setColor(0,'rgba(229,57,53 ,1)','rgba(229,57,53 ,0.5)')"></button></li>
                <li><button type="submit" name="boton"  value="botonBlue" class="botonBlue" id="button1" onclick="setColor(1,'rgba(3,155,229 ,1)','rgba(3,155,229 ,0.5)')"></button></li>
                <li><button type="submit" name="boton"  value="botonYellow" class="botonYellow" id="button2" onclick="setColor(2,'rgba(253,216,53 ,1)','rgba(253,216,53 ,0.5)')"></button></li>
                <li><button type="submit" name="boton"  value="botonBrow"  class="botonBrow" id="button3" onclick="setColor(3,'rgba(109,76,65 ,1)','rgba(109,76,65 ,0.5)')"></button></li>

            </ul>
            </form>
        </div>


        <div class="filtro_clima">
            <h5>Clima</h5>

            <form action="/home" method="get">
                <ul>

                    <li><button type="submit" name="boton" value="Frio_check" >Frio</button></li>
                    <li><button type="submit" name="boton"  value="Caliente_check" >Caliente</button></li>
                    <li><button type="submit" name="boton"  value="Templado_check" >Templado</button></li>
                    <li><button type="submit" name="boton"  value="Lluvioso_check" >Lluvioso</button></li>
                    <li><button type="submit" name="boton"  value="Seco_check">Seco</button></li>

                </ul>
            </form>


        </div>

    </div>
<div class="contenedor-productos">
    <h3 style="display:  {{mostrar}}">No hay elementos</h3>
    {{#each productos}}
    <div class="producto" style="background-color: rgba({{color}});"><div class="imagen_producto" style="background-image: url('{{srcIMG}}');"></div><div class="contenedor_nombre_producto"><p>{{nombre}}</p></div></div>
    {{/each}}

</div>


    <div class="contenedor-codigoColores">
        <div class="contenido-codigoColores">
            <h4>Codigo de Colores</h4>

            <ul class="lista_codigoColores">

                <li class="codigo_rojo" a><p>Arbol</p></li>
                <li class="codigo_azul"><p>Arbusto o planta pequeña</p></li>
                <li class="codigo_amarillo"><p>Flor</p></li>
                <li class="codigo_marron"><p>Helecho</p></li>

            </ul>
        </div>

    </div>

</div>






</body>