<body>
<header class="headerBarra">
    <div class="barra">
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="icon-menu"></label>
        <input type="text" name="search" placeholder="Buscar.." class="busqueda">
    </div>
</header>

<div class="contenedor-todo">
<div class="contenedor-productos">

</div>

</div>






</body>