<body>
<header class="headerBarra">
    <div class="barra">
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="icon-menu"></label>
        <input type="text" name="search" placeholder="Buscar.." class="busqueda">
    </div>
</header>

<div class="contenedor-todo">
    <div class="contenedor-ordenar">
        <div class="contenido-ordenar">
            <h4>Ordenar Por:</h4>
            <ul>
                <li>Nombre</li>
                <li>Tamaño</li>
                <li>Fecha de Adicion</li>
                <li>Popularidad</li>
                <li>Clasificación</li>
                <li>Numero de Opiniones</li>
            </ul>
        </div>

    </div>


    <div class="contenedor-filtros">
        <div class="contenido-filtros">
            <h4>Filtro</h4>
            <h5>Tipo de planta</h5>
            <ul class="lista_colores">

                <li><button type="submit"  formmethod="get" name="botonRed" class="botonRed"></button></li>
                <li><button type="submit"  formmethod="get" name="botonBlue" class="botonBlue"></button></li>
                <li><button type="submit"  formmethod="get" name="botonYellow" class="botonYellow"></button></li>
                <li><button type="submit"  formmethod="get" name="botonBrow"  class="botonBrow"></button></li>

            </ul>
        </div>

    </div>
<div class="contenedor-productos">

</div>

</div>






</body>