<body>
<header class="headerBarra">
    <div class="barra">
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="icon-menu"></label>
        <input type="text" name="search" placeholder="Buscar.." class="busqueda">
    </div>
</header>

<div class="contenedor-todo">
    <div class="contenedor-ordenar">
        <div class="contenido-ordenar">
            <h4>Ordenar Por:</h4>
            <ul>
                <li>Nombre</li>
                <li>Tamaño</li>
                <li>Fecha de Adicion</li>
                <li>Popularidad</li>
                <li>Clasificación</li>
                <li>Numero de Opiniones</li>
            </ul>
        </div>

    </div>


    <div class="contenedor-filtros">
        <div class="contenido-filtros">
            <h4>Filtro</h4>
            <h5>Tipo de planta</h5>
            <ul class="lista_colores">

                <li><button type="submit"  formmethod="get" name="botonRed" class="botonRed"></button></li>
                <li><button type="submit"  formmethod="get" name="botonBlue" class="botonBlue"></button></li>
                <li><button type="submit"  formmethod="get" name="botonYellow" class="botonYellow"></button></li>
                <li><button type="submit"  formmethod="get" name="botonBrow"  class="botonBrow"></button></li>

            </ul>
        </div>

        <div class="filtro_clima">
            <h5>Clima</h5>

            <ul>
                <li><input type="checkbox" id="Frio_check"> <label for="Frio_check">Frio</label></li>

                <li><input type="checkbox" id="Caliente_check"> <label for="Caliente_check">Caliente</label></li>

                <li><input type="checkbox" id="Templado_check"> <label for="Templado_check">Templado</label></li>

                <li><input type="checkbox" id="Lluvioso_check"> <label for="Lluvioso_check">Lluvioso</label></li>

                <li><input type="checkbox" id="Seco_check"> <label for="Seco_check">Seco</label></li>

                <button type="submit">Filtrar</button>

            </ul>
        </div>

    </div>
<div class="contenedor-productos">
    <div class="producto"><div class="imagen_producto"></div><div class="contenedor_nombre_producto"><p>Saman</p></div></div>
    <div class="producto"></div>
    <div class="producto"></div>
    <div class="producto"></div>
    <div class="producto"></div>
    <div class="producto"></div>
    <div class="producto"></div>
    <div class="producto"></div>

</div>


    <div class="contenedor-codigoColores">
        <div class="contenido-codigoColores">
            <h4>Codigo de Colores</h4>

            <ul class="lista_codigoColores">

                <li class="codigo_rojo" a><p>Arbol</p></li>
                <li class="codigo_azul"><p>Arbusto o planta pequeña</p></li>
                <li class="codigo_amarillo"><p>Flor</p></li>
                <li class="codigo_marron"><p>Helecho</p></li>

            </ul>
        </div>

    </div>

</div>






</body>