@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {

    font-family: 'Alexandria' ;
    src: url('../fonts/AlexandriaFLF.ttf') format('truetype');

}



/*=============================================
DOCUMENTO DE CSS DE PRACTICA CON HTML Y CSS
	22 DE FEBRERO
==============================================*/
/* -------------estilos generales ------------------*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
  color: #00B7FF;
}

.background {
    background: url("../images/background.JPG") no-repeat fixed center;
    background-size: cover;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);


}


#loginBox {

    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -8%;
    margin-left: -7%;
    width: 17%;

    padding: 0px;

}

#loginBox h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.6vw;
    font-weight: lighter;
    padding: 0px;
    margin: 0px;


}

#loginBox h1{

    font-family: 'Alexandria', serif;
    color: white;
    text-align: center;
    font-size: 2.2vw;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}

.form-horizontal {
    text-align: center;
    padding-top: 20px;
}

.form-control {
    border-radius: 15px;
    width: 95%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    color: white;
    font-size: large;
    padding-left: 10px;

}

.botonEntrar {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background-color: green;
    border:none;
    color: white;
    font-size: 180%;
    font-family: 'Roboto', sans-serif;

}

.botonEntrar:hover{
    background: greenyellow;
}

.botonInvitado {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.2vw;
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background-color: transparent;
    border:solid;
    border-width: 2px;
    color: white;

    margin-top: 20px;

}


/* para 1170px o menos */
@media screen and (max-width:1170px) {
    #loginBox {
        width: 8%;
        background-color: red;
    }
}


/* para 980px o menos */
@media screen and (max-width:980px) {
    #loginBox {
        width: 8%;
        background-color: red;
    }
}

/* para 700px o menos */
@media screen and (max-width:700px) {

}

/* para 480px o menos */
@media screen and (max-width:480px) {

}