@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@font-face {

    font-family: 'Alexandria' ;
    src: url('../font/AlexandriaFLF.ttf') format('truetype');

}



/*=============================================
DOCUMENTO DE CSS DE PRACTICA CON HTML Y CSS
	22 DE FEBRERO
==============================================*/
/* -------------estilos generales ------------------*/

body {
  padding: 50px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
  color: #00B7FF;
}

.background {
    background: url("../images/background.JPG") no-repeat fixed center;
    background-size: cover;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);


}


#loginBox {

 /*  background-color: rgba(0,0,0,0.2); */
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -8%;
    margin-left: -7%;
    width: 17%;

    padding: 0px;

}

#loginBox h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.6vw;
    font-weight: lighter;
    padding: 0px;
    margin: 0px;


}

#loginBox h1{

    font-family: 'Alexandria', serif;
    color: white;
    text-align: center;
    font-size: 2.2vw;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}

.form-horizontal {
    text-align: center;
    padding-top: 20px;
}

.form-control {
    border-radius: 15px;
    width: 95%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    color: white;
    font-size: large;
    padding-left: 10px;

}

.botonEntrar {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background-color: green;
    border:none;
    color: white;
    font-size: 180%;
    font-family: 'Roboto', sans-serif;

}

.botonEntrar:hover{
    background:#689F38;
    cursor: pointer;
}

.botonInvitado:hover{
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;

}

.botonInvitado {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.2vw;
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background-color: transparent;
    border:solid;
    border-width: 2px;
    color: white;

    margin-top: 20px;

}

.barraInferior{
    position: absolute;
    top:100%;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    background-color: rgba(0,0,0,0.5);

}
.barraInferior h3 {
    color: white;
    padding-top: 15px;
    margin: 0px;
    font-size: 1vw;
    float: right;
    padding-right: 15px;
}

.registrarseDiv {
    transition-duration: 0.5s;
    width: 24%;
    height: 40px;
    background-color: rgba(104,159,56 ,0.5);
    transform:translateX(-65%);

}

.registrarseDiv h4 {
    color: white;
    font-size: 1.3vw;
    text-align: right;
    padding-right: 7px;
    padding-top: 3px;
}

.registrarseDiv:hover {
    transition-duration: 0.5s;
    transform:translateX(0%);
    cursor: pointer;
}

.parrafoExplicacion {
    position: relative;
    width: 65%;

    background-color: rgba(20,20,20,0.5);
    margin-top: 45%;

    border-radius: 5px;

}


/* aqui comienza el home */


.headerBarra{
    position: fixed;
    background-color: rgba(104,159,56 ,1);
    width: 100%;
    height: 70px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
    padding: 0px;
    z-index: 100;
    color: white;
}

.barra{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: auto;
}


.busqueda {
    position: relative;
    margin-top: 13px;
    width: 67%;
    margin-left: 16.5%;
    padding: 0px;
    height: 60%;
    border-radius: 7px;
    border-style: none;
    padding-left: 5px;
    background-color: rgba(255,255,255,0.3);
    transition-duration: 0.5s;
    color: white;

}

.busqueda::-webkit-input-placeholder{
    color:white;
}



.busqueda:focus{
    transition-duration: 0.5s;
    background-color: rgba(255,255,255,0.9);
    color: black;
}

.busqueda:focus::-webkit-input-placeholder{
    color: black;;
}


#menu-bar{
   display: none;
}

header label {
   position: absolute;
    font-size: 35px;
    margin-top:18px ;
    margin-left: 2%;
}

header label:hover {
    cursor: pointer;
}


.contenedor-todo{
position: absolute;
    width: 100%;

    background-color: rgba(245,245,245 ,1);
}


.parrafoExplicacion p{

   padding: 10%;
    color: white;
    font-size: 1.1vw;
}


.contenedor-productos{
    margin-top:100px;
    margin-left: 16.5%;
    width: 67%;
    height:3000px;
    background-color: rgba(236,239,241 ,1);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}


.contenedor-ordenar {
    margin-top: 100px;
    margin-left: 0.5%;
    width: 15%;

    background-color: rgba(236,239,241 ,1);
    position: fixed;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    padding: 0px;
}

.contenido-ordenar{
    margin: 10px;


}

.contenido-ordenar ul li{
    transition-duration: 0.5s;
    margin: 20px 0;
    list-style-type: none;
    padding-left: 10px;
    width: 70%;
    font-weight: 300;
    font-size: 0.8vw;
}

.contenido-ordenar ul li:hover{
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: rgba(79,195,247 ,1);
    border-radius: 5px;
    font-weight: 400;
    color: white;
    padding: 10px 0px 10px 10px;
}



.contenido-ordenar h4{
    padding-left: 10px;
    font-weight: 500;
}

.contenedor-filtros{
    position: fixed;
    top: 100px;
    right: 0.5%;

    width: 15%;

    background-color: rgba(236,239,241 ,1);
    position: fixed;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    padding: 0px;
}

.contenido-filtros{
    margin-left: 10px;
    margin-top: 0px;

    padding: 0px;


}

.lista_colores li{

    margin-top: 10px;

    margin-left: -20px;
    list-style-type: none;
    width: 90%;
padding: 0;
    height: 20px;

}

.lista_colores li button{
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;

}



.botonRed{
background-color: rgba(229,57,53 ,0.5);
    border: none;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.botonRed:hover{
    background-color: rgba(229,57,53 ,1);
    cursor: pointer;
}

.botonYellow{
    background-color: rgba(253,216,53 ,0.5);
    border: none;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.botonYellow:hover{
    background-color: rgba(253,216,53 ,1);
    cursor: pointer;
}

.botonBlue{
    background-color: rgba(3,155,229 ,0.5);
    border: none;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.botonBlue:hover{
    background-color: rgba(3,155,229 ,1);
    cursor: pointer;
}

.botonBrow{
    background-color: rgba(109,76,65 ,0.5);
    border: none;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.botonBrow:hover{
    background-color: rgba(109,76,65 ,1);
    cursor: pointer;
}

.contenedor-codigoColores{
    position: fixed;
    top: 450px;
    left: 0.5%;

    width: 15%;

    background-color: rgba(236,239,241 ,1);
    position: fixed;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    padding: 0px;
}

.contenido-codigoColores{

    margin: 10px;
}

.lista_codigoColores li{

    margin-top: 10px;
    margin-left: -18px;
    list-style-type: none;
    width: 95%;
    padding: 0;
    height: 20px;


}

.codigo_rojo {
   background-color: rgba(229,57,53 ,1);
}

.codigo_azul {
    background-color: rgba(3,155,229 ,1);
}

.codigo_amarillo {
    background-color: rgba(253,216,53 ,1);
}

.codigo_marron {
    background-color: rgba(109,76,65 ,1);
}

.lista_codigoColores li p{
    color: white;
    margin-left: 5px;
    font-weight: 300;
    font-size: 0.8vw;
}


/* para 1170px o menos */
@media screen and (max-width:1170px) {
    #loginBox {

        background-color: red;
    }
}





/* para 480px o menos */
@media screen and (max-width:480px) {
    #loginBox {
        width: 90%;
        left: 11%;
        background-color: rosybrown;
    }
}